<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle_pi"/>
  <arg name="bag_file" default="$(find irobo-turtlebot)/data/collision_avoidance.bag"/>
  <arg name="map_file" default="$(find irobo-turtlebot)/data/LSDC4.yaml"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Play the bag file -->
  <node pkg="rosbag" type="play" name="bag_play" args="$(arg bag_file)" output="screen"/>

  <!-- Estimated path -->
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="localization_trajectory_server">
    <param name="source_frame_name" value="base_scan"/>
    <param name="trajectory_update_rate" value="30"/>
    <param name="trajectory_publish_rate" value="30"/>
  </node>

  <!-- TF -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_map2odom" required="true"
    args="0 0 0 0 0 0 map odom"/>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find irobo-turtlebot)/rviz/rrt.rviz"/>
</launch>
